1. use data after 'date'.
2. get rid of first column
3. get rid of white space
4. count elements

In [143]:
with open('total_number_elements.txt', 'r') as file:
    data = file.read().replace('    ', ' ')
    data = data.split('date')[1]
    data = data.split('\n')
    data = data[1:-1]
    print(data)

['12345678 12345678 12345678 12345678', '00999000 09099990 12567544 20950978', '87555677 45554332 88765545 4345']

In [122]:
format_data = []

for i in range(len(data)):
    format_data.append(data[i].split(' '))

print(format_data)

[['12345678', '12345678', '12345678', '12345678'], ['00999000', '09099990', '12567544', '20950978'], ['87555677', '45554332', '88765545', '4345']]

In [123]:
new_array = []

for j in format_data:
    del j[0]

print(format_data)

[['12345678', '12345678', '12345678'], ['09099990', '12567544', '20950978'], ['45554332', '88765545', '4345']]

In [142]:
sum_up = 0

for i in range(len(format_data)):
    for j in range(len(format_data[i])):
        length = len(format_data[i][j])
        sum_up += length

print(int(sum_up/2))

34

Put everything in one function:

In [146]:
def formatted(a):
    format_data = []
    new_array = []

    for i in range(len(a)):
        format_data.append(a[i].split(' '))

    for j in format_data:
        del j[0]

    sum_up = 0

    for i in range(len(format_data)):
        for j in range(len(format_data[i])):
            length = len(format_data[i][j])
            sum_up += length

    return int(sum_up/2)

print(formatted(data))

34